<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Detalhes do Curso</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
     <!-- Barra de navegação -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">IFRN PAU DOS FERROS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notícias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container mt-4">
        <h1 class="text-center">{{ curso.nome }}</h1>
        <div class="row mt-5">
            <div class="col-md-4">
                <img src="{{ curso.image.url }}" alt="Imagem do Curso" class="img-fluid" style="border-radius: 5px;">
            </div>
            <div class="col-md-8">
                <p><strong>Descrição:</strong> {{ curso.descricao }}</p>
                <p><strong>Vagas:</strong> {{ curso.vagas }} </p>
                <p><strong>Inscritos:</strong> {{ curso.inscritos }}</p>
                <p><strong>Modalidade:</strong> {{ curso.modalidade }}</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h2>Lista de Alunos</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Data de Nascimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aluno in alunos %}
                            <tr>
                                <td>{{ aluno.nome }}</td>
                                <td>{{ aluno.email }}</td> 
                                <td>{{aluno.data_nascimento}}</td>
                            </tr>
                        {% endfor %}
                   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- Scripts Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
