{% extends 'base.html' %}

{% block parte_central %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4">Sobre o Campus Pau dos Ferros - IFRN</h1>
            <p>O Campus Pau dos Ferros do Instituto Federal do Rio Grande do Norte (IFRN) é uma das unidades de ensino que compõem a rede federal de educação tecnológica do Brasil. Localizado na cidade de Pau dos Ferros, no Alto Oeste Potiguar, o campus oferece uma educação pública, gratuita e de qualidade, atendendo às demandas educacionais da região.</p>
            
            <h3 class="mt-4">História do Campus</h3>
            <p>Inaugurado em 2009, o Campus Pau dos Ferros é uma extensão do compromisso do IFRN com a disseminação do conhecimento e o desenvolvimento social e econômico do Rio Grande do Norte. Desde a sua criação, o campus vem se destacando pela qualidade do ensino e pela capacidade de formar profissionais qualificados para atuar em diversas áreas do mercado de trabalho.</p>
            
            <h3 class="mt-4">Cursos Oferecidos</h3>
            <p>O Campus Pau dos Ferros oferece cursos técnicos integrados ao ensino médio, cursos superiores e pós-graduações, além de programas de extensão e pesquisa.</p>
            
            <h3 class="mt-4">Infraestrutura</h3>
            <p>A infraestrutura do campus inclui laboratórios modernos, salas de aula equipadas, biblioteca, auditório, ginásio poliesportivo e áreas de convivência que proporcionam um ambiente adequado para o ensino e a aprendizagem. Além disso, o campus investe constantemente em melhorias e na ampliação de suas instalações para melhor atender aos alunos e à comunidade.</p>
            
            <h3 class="mt-4">Missão e Valores</h3>
            <p>A missão do Campus Pau dos Ferros é promover a educação integral e de excelência, com base nos princípios da ética, do respeito à diversidade e da responsabilidade social. A instituição busca formar cidadãos críticos e capacitados para contribuir com o desenvolvimento sustentável da sociedade.</p>

            <h3 class="mt-4">Contato</h3>
            <p>Para mais informações sobre o Campus Pau dos Ferros do IFRN, você pode entrar em contato pelos seguintes canais:</p>
            <ul>
                <li>Email: contato@pau.ifrn.edu.br</li>
                <li>Telefone: (84) 4005-4100</li>
                <li>Endereço: BR-405, Km 154, Pau dos Ferros - RN, CEP: 59900-000</li>
            </ul>
        </div>
    </div>
{% endblock %}