{% extends 'base_gerencia.html' %}

{% block main %}

<h1 class="h3 mb-4 text-gray-800">Cadastrar Nova Notícia</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Informações da Notícia</h6>
    </div>
    <div class="card-body">
     
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

              
            <!-- Exibe erros gerais do formulário -->
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="form-group">
                <label for="id_titulo">Título</label>
                {{ form.titulo }}
            </div>
            <div class="form-group">
                <label for="id_data_publicacao">Data de Publicação</label>
                {{ form.data_publicacao }}
            </div>
            <div class="form-group">
                <label for="id_texto">Texto</label>
                {{ form.texto }}
            </div>
            <div class="form-group">
                <label for="id_image">Imagem</label>
                {{ form.image }}
                {% if form.image.value %}
                    <img src="{{ form.image.value.url }}" alt="Imagem Atual" style="max-width: 200px; margin-top: 10px;">
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_categoria">Categoria</label>
                {{ form.categoria }}
            </div>
        
            <button type="submit" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-save"></i>
                </span>
                <span class="text">Salvar Notícia</span>
            </button>
        </form>


    </div>
</div>

{% endblock %}