{% extends 'base.html' %}

{% block parte_central %}
    <h2>Notícias</h2>

    <div class="row">
        {% for noticia in noticias %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm">
                {% if noticia.image %}
                <img src="{{ noticia.image.url }}" class="card-img-top" alt="Imagem da notícia">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ noticia.titulo }}</h5>
                    <p class="card-text">{{ noticia.texto|truncatewords:30 }}</p>
                </div>
                <div class="card-footer">
                    <p class="text-muted mb-2">Publicado em: {{ noticia.data_publicacao }}</p>
                    <p class="text-muted">Autor: {{ noticia.autor }}</p>
                    <a href="#" class="btn btn-primary">Leia mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}