{% extends 'base.html' %}

{% block parte_central %}
    <h2>Notícias</h2>

    <h2>Listagem de Notícias</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Título</th>
                <th>Data de Publicação</th>
                <th>Autor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for noticia in noticias %}
            <tr>
                <td>{{ noticia.titulo }}</td>
                <td>{{ noticia.data_publicacao }}</td>
                <td>{{ noticia.autor }}</td>
                <td>
                    <a href="#" class="btn btn-primary btn-sm">Editar</a>
                    <a href="#" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover esta notícia?');">Remover</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}